*{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  a,div,h1,p{
    color: #333333;
    text-decoration: none;
  }
.footer{
  position: fixed;
  width:100%;
  height: 0.8rem;
  left: 0;
  bottom: 0rem;
  display: flex;
  background: #999999;
}
.footer a{
  flex: 1;
  text-align: center;
  line-height: 0.8rem;
  border: 1px solid #666666;
}
.footer .select{
  background: #333333;
  color: #ffffff;
}